<!DOCTYPE html>
<html>


<head>
	<title>Base-WebApp</title>
	<meta charset="UTF-8">
	<script src="/js/jquery.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<script src="/js/popper.min.js"></script>
	<link rel="stylesheet" href="/css/style.css">
	<link href="/css/modern-business.css" rel="stylesheet">
	<script src="/js/bootstrap.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/alert.js"></script>
	<script src="/js/bootstrap-multiselect.js"> </script>

</head>

<body>
