<!DOCTYPE html>
<html>


<head>
	<title>Base-WebApp</title>
	<meta charset="UTF-8">
	<script src="/js/jquery.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<script src="/js/popper.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css">
	<link rel="stylesheet" href="/css/style.css">
	<link href="/css/modern-business.css" rel="stylesheet">
	<script src="/js/bootstrap.js"></script>
	<script src="/js/alert.js"></script>
	<script src="/js/bootstrap-multiselect.js"> </script>
    <script src="/js/sweetalert2.all.min.js"></script>
	<script src="/js/site/SwalUtils.js"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
    <script href="https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js"></script>

    <!-- Our clientside javascript files -->
    <script src="/js/site/URLUtils.js"></script>

</head>

<body>
