{{> layout-head}}
{{> navbar}}
{{> error-alert}}
<div id="divalert"></div>
<div class="container">
    {{> user-breadcrumb}}
    <div class="row">
        {{>user-link}}
        {{{body}}}
    </div>
</div>
{{> layout-foot}}
