{{> layout-head}}
{{> navbar}}
{{> error-alert}}
<div class="container">
    {{> admin-breadcrumb}}
    <div class="row">
        {{>admin-link}}
        {{{body}}}
    </div>
</div>
{{> layout-foot}}
