<!-- Page Content -->
<div class="container">

	<!-- Page Heading/Breadcrumbs -->
	<h1 class="mt-4 mb-3">About
  </h1>

	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="/">Home</a>
		</li>
		<li class="breadcrumb-item active">About</li>
	</ol>

	<!-- Intro Content -->
	<div class="row">
		<div class="col-lg-6">
			<img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
		</div>
		<div class="col-lg-6">
			<h2>About This Template</h2>
			<p>This template has been developped so to make it faster to launch this kind of webservice.</p>
			<p>Of course you can buy it for any use that you think is relevant, but it does focus on a specific kind of service : one or more editors to create online documents. It can be as simple as a text editor and as complex as a 3D modeler.</p>
			<p>You will find here a good piece to launch your product. Everything is open so you will have the possibility to develop your specific features on top of that.</p>
		</div>
	</div>
	<!-- /.row -->

	<!-- Team Members -->
	<h2>Our Team</h2>

	<div class="row">
		<div class="col-lg-4 mb-4">
			<div class="card h-100 text-center">
				<img class="card-img-top" src="http://placehold.it/750x450" alt="">
				<div class="card-body">
					<h4 class="card-title">Team Member</h4>
					<h6 class="card-subtitle mb-2 text-muted">Position</h6>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
				</div>
				<div class="card-footer">
					<a href="#">name@example.com</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 mb-4">
			<div class="card h-100 text-center">
				<img class="card-img-top" src="http://placehold.it/750x450" alt="">
				<div class="card-body">
					<h4 class="card-title">Team Member</h4>
					<h6 class="card-subtitle mb-2 text-muted">Position</h6>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
				</div>
				<div class="card-footer">
					<a href="#">name@example.com</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 mb-4">
			<div class="card h-100 text-center">
				<img class="card-img-top" src="http://placehold.it/750x450" alt="">
				<div class="card-body">
					<h4 class="card-title">Team Member</h4>
					<h6 class="card-subtitle mb-2 text-muted">Position</h6>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
				</div>
				<div class="card-footer">
					<a href="#">name@example.com</a>
				</div>
			</div>
		</div>
	</div>
	<!-- /.row -->

	<!-- Our Customers -->
	<h2>Our Customers</h2>
	<div class="row">
		<div class="col-lg-2 col-sm-4 mb-4">
			<img class="img-fluid" src="http://placehold.it/500x300" alt="">
		</div>
		<div class="col-lg-2 col-sm-4 mb-4">
			<img class="img-fluid" src="http://placehold.it/500x300" alt="">
		</div>
		<div class="col-lg-2 col-sm-4 mb-4">
			<img class="img-fluid" src="http://placehold.it/500x300" alt="">
		</div>
		<div class="col-lg-2 col-sm-4 mb-4">
			<img class="img-fluid" src="http://placehold.it/500x300" alt="">
		</div>
		<div class="col-lg-2 col-sm-4 mb-4">
			<img class="img-fluid" src="http://placehold.it/500x300" alt="">
		</div>
		<div class="col-lg-2 col-sm-4 mb-4">
			<img class="img-fluid" src="http://placehold.it/500x300" alt="">
		</div>
	</div>
	<!-- /.row -->

</div>
<!-- /.container -->
