<div class="container col-lg-9">
	<div class="card">
		<h4 class="card-header">Edit profile</h4>
		<div class="card-body">
			<div class="form-group">
				<label>Name</label>
				<input id="nameTextArea" type="text" class="form-control" placeholder="{{db_user.[0].name}}" name="name">
			</div>
			<div class="form-group">
				<label>Username</label>
				<input id="usernameTextArea" type="text" class="form-control" placeholder="{{db_user.[0].username}}" name="username">
			</div>
			<div class="form-group">
				<label>Email</label>
				<input id="emailTextArea" type="email" class="form-control" placeholder="{{db_user.[0].email}}" name="email">
			</div>
			<button id="submitButton" class="btn btn-primary btn-lg " >Send</button>
		</div>
	</div>
</div>

<script>

$('#submitButton').on("click", function() {
    var name = $('#nameTextArea').val();
    var username = $('#usernameTextArea').val();
    var email = $('#emailTextArea').val();
    $.ajax({
        type: 'post',
        data: JSON.stringify({
            name:name,
            username:username,
			email:email
        }),
        contentType: 'application/json',
        url: 'http://localhost:3000/admin/admin-edit-profile/{{db_user.[0].id}}',
        success:    function(data) {
			console.log(name);
            document.getElementById("divalert").innerHTML = "<div class='alert alert-success'>"+"Change successfuly"+"</div>";
            {{> slide}}
        },
        error: function(data) {
            document.getElementById("divalert").innerHTML = "<div class='alert alert-danger'>"+"Error"+"</div>";
            {{> slide}}
        },
    });

});
</script>
