<div class="container col-lg-9">
	<div class="card">
		<h4 class="card-header">Change password</h4>
		<div class="card-body">
			<div class="form-group">
				<label>New password</label>
				<input id="passwordTextArea" type="password" class="form-control" name="password">
			</div>
			<div class="form-group">
				<label>Confirm new password</label>
				<input id="password2TextArea" type="password" class="form-control" name="password2">
			</div>
			<button id="changePasswordButton" class="btn btn-primary btn-lg">Send</button>
		</div>
	</div>
</div>

<script>

$('#changePasswordButton').on("click", function() {
    var password = $('#passwordTextArea').val();
	var password2 = $('#password2TextArea').val();
    $.ajax({
        type: 'post',
        data: JSON.stringify({
            password:password,
            password2:password2
		}),
        contentType: 'application/json',
        url: 'http://localhost:3000/admin/admin-change-password/{{db_user.[0]._id}}',

        error:    function(data) {
			console.log(password);
            document.getElementById("divalert").innerHTML = "<div class='alert alert-success'>"+"Change successfuly"+"</div>";
			{{> slide}}

        success: function(data) {
			console.log('test');
            document.getElementById("divalert").innerHTML = "<div class='alert alert-danger'>"+"New password don't match with cofirm password"+"</div>";
			{{> slide}}
    });

});
</script>
