<div class="container">
  <h2 class="page-header">Api</h2>

    {{#if admin}}
        You are an admin.
    {{/if}}

    {{#each dbData}}
        <div class = "containerfluid d-flex justify-content-between">
            <div class = "container-fluid d-flex ">
                <div class = "container-fluid " " >
                    {{this.ownerName}}
                    {{#if ../admin}}
                        (Admin)
                    {{/if}}
                </div>
                <div class = "container-fluid ">
                    {{this.name}}
                </div>
            </div>
            <div class = "container-fluid d-flex ">
                <div class = "container-fluid " >
                </div>
                <div class = "containerfluid" >
                    <a type="button" href="/exports/' + {{this._id}} + '  " class="btn btn-primary btn-sm" value= "">Edit</a>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>
    {{/each}}

</div>
