<div class="container">
  <h2 class="page-header">Projets</h2>
  <form method="post" action="/exports">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Nouveau Projet</label>
      <br>
      <br>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name">
      </div>
      <label>Corp</label>
      <textarea type="text" class="form-control" name="corp"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" name="sauve"> sauvegarder </button>
  </form>
</div>
