<div class="container">
  <div class="container">
    <form method="post" value="edit">
      <div class="container">
        <div class="form-group">
          <label for="name">Nom du projet</label>
          <div class="container">
            <script type="text/javascript">
              var Projet = JSON.parse(decodeURI("{{ DataPro }}"));
              console.log(Projet);
              var nom = Projet.name;
              var corp = Projet.corp;
              var _id = Projet._id
              document.write('<p>' + nom + '</p>');


              function inserer(textarea, str) {
                var textareaa = document.getElementById(textarea);
                textareaa.value = corp;
              };
            </script>
          </div>
          <body onLoad="inserer('txt')">
          </body>

          <div class="form-group">
            <textarea id='txt' type="text" class="form-control" name="corp" window.onload="inserer('txt')"></textarea>
            <input type="hidden" class="form-control" placeholder="delete" name="delete" value="edit">
            <button type="submit" class="btn btn-default" name="sauve">
              sauvegarder</button>
          </div>
        </div>
        </div>
      </form>
    </div>

    <div class="container">
        <form method="post">
          <div class="form-group">
            <label for="name">Option du projet</label>
            <div class="container">
              <input type="hidden" class="form-control" placeholder="delete" name="delete" value="userdelete">
              <button id="del" type="submit" class="btn btn-secondary" name "userdelet" value="userdelete" onclick="Confirmation()">
                <p id="deluser">  Supprimer l'enregistrement.</p>
              </button>
            </div>
          </div>
        </form>
      {{#if admin}}
        <form method="post">
          <div class="form-group">
            <label for="name">Option administrateur du projet</label>
            <div class="container">
              <input type="hidden" class="form-control" placeholder="delete" name="delete" value="delete">
              <button id="del" type="submit" class="btn btn-danger" name "delet">
                Supprimer l'enregistrement definitivement.
              </button>
            </div>
          </div>
        </form>
        <form method="post">
          <div class="form-group">
            <div class="container">
              <input type="hidden" class="form-control" placeholder="delete" name="delete" value="restore">
              <button id="del" type="submit" class="btn btn-danger" name "delet">
                Restorer l'enregistrement definitivement.
              </button>
            </div>
          </div>
        </form>
      {{/if}}
    </div>
  </div>
</div>
