<div class="container" style=" margin-top: 100px;">
	<div class="row justify-content-center">
		<div class="col-lg-4 mb-4">
			<div class="card h-100">
				<h4 class="card-header">Register</h4>
				<div class="card-body">
					<div class="form-group">
						<label>Name</label>
						<input id="NameTextArea" type="text" class="form-control" placeholder="Name" name="name">
						<div id="error407" class="container" style=" display: none" >
							Name can't be empty.
						</div>
					</div>
					<div class="form-group">
						<label>Username</label>
						<input id="UsernameTextArea" type="text" class="form-control" placeholder="Username" name="username">
						<div id="error408" class="container" style=" display: none" >
							Username can't be empty.
						</div>
					</div>
					<div class="form-group">
						<label>Email</label>
						<input id="EmailTextArea" type="email" class="form-control" placeholder="Email" name="email">
						<div id="error403" class="container" style=" display: none" >
							Email can't be empty.
						</div>
						<div id="error405" class="container" style=" display: none" >
							Email Must be an email form valid
						</div>
					</div>
					<div class="form-group">
						<label>Password</label>
						<input id="PasswordTextArea" type="password" class="form-control" placeholder="Password" name="password">
						<div id="error404" class="container" style=" display: none" >
							Password can't be empty.
						</div>

						<div id="error410" class="container" style=" display: none" >
							Password don't match with cofirm password.
						</div>
					</div>

					<div class="form-group">
						<label>Confirm Password</label>
						<input id="Password2TextArea" type="password" class="form-control" placeholder="Password2" name="password2">
						<div id="error409" class="container" style=" display: none" >
							Confirm Password can't be empty.
						</div>
					</div>

					<div class="form-group">
						<button id="SubmitButton" class="btn btn-primary btn-lg ">Send</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/views/register.js"></script>
