<!-- Page Content -->
<div class="container">

	<!-- Page Heading/Breadcrumbs -->
	<h1 class="mt-4 mb-3">Services
        <small>Details</small>
      </h1>

	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="/">Home</a>
		</li>
		<li class="breadcrumb-item active">Services</li>
	</ol>

	<!-- Image Header -->
	<img class="img-fluid rounded mb-4" src="http://placehold.it/1200x300" alt="">

	<!-- Marketing Icons Section -->
	<div class="row">
		<div class="col-lg-4 mb-4">
			<div class="card h-100">
				<h4 class="card-header">Web applications</h4>
				<div class="card-body">
					<p class="card-text">We are dedicated to develop web applications that make your life easier, or help you propose quality products to your customers. For that, we have especially built <a href="www.dualbox.com">Dualbox</a>. Dualbox applications can easily be plugged into this template to launch a complete web service.</p>
				</div>
				<div class="card-footer">
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 mb-4">
			<div class="card h-100">
				<h4 class="card-header">Web Service Infrastructure</h4>
				<div class="card-body">
					<p class="card-text">This template is a demonstration of the kind of website for which we propose ready-tyo-use systems. We believe in our customer autonomy so you can get access to the full code and build on that.</p>
				</div>
				<div class="card-footer">
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 mb-4">
			<div class="card h-100">
				<h4 class="card-header">Consulting</h4>
				<div class="card-body">
					<p class="card-text">Even with a Dualbox application and this service template, you may need more technical expertise, or some help to hire a team of devleloppers to build your products. We are experts, we can help with that too.</p>
					</div>
					<div class="card-footer">
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
		</div>
	</div>
	<!-- /.row -->

</div>
<!-- /.container -->
